<!DOCTYPE html>
<html lang="en">
<head id="index_head">

    <meta  data-static="true" charset="UTF-8">
    <meta  data-static="true" name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Bootstrap CSS -->
    <link  data-static="true" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Import jQuery (for AJAX) -->
    <script  data-static="true" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Link to Summit CSS - Elements -->
    <link  data-static="true" rel="stylesheet" href="/static/css/summit.css">

    <!-- Link to Summit JavaScript - Elements and Built-In -->
    <script  data-static="true" src="/static/js/summit.js"></script>
    
    <!-- Link to your custom JavaScript file -->
    <script  data-static="true" src="/static/js/project.js"></script>

    <!-- Link to your custom Ajax Handling JavaScript file -->
    <script  data-static="true" src="/static/js/summit_ajax.js"></script>
    
</head>

<body id="index_body" data-page="home">
    <div id="outer_block">
    <div id="centered_block">
        
    </div>
    </div>
</body>
</html>
